<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "slider/inside_of_unit_wood.jpg" %></div>
    <div class="item"><%= image_tag "slider/front_of_unit_door.jpg" %></div>
    <div class="item"><%= image_tag "slider/row.jpg" %></div>
    <div class="item"><%= image_tag "slider/front_of_store.jpg" %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
  <div class="span8">
    <h3>Why S and B Storage?</h3>
  </div>
  <div class="span4">
    <h3>Contact Us</h3>
    <p>Interested in learning more about how we can be your storage specialists?  We would love to get in contact with you, and start helping you store all your ski boats, Recreational Vehicles, and other general storage needs.</p>
    <%= link_to "Let's get Started", new_message_path, class: "btn btn-primary btn-large" %>
  </div>
</div>